
#wrapper {
    width: 120rem;
    height: 80rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#prob_form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#prob_form > div {
    width: 100%;
    margin-bottom: 5%;
}
#prob_form > div > label, #prob_form > div > input {
    font-size: 3rem;
}
#desc_area {
    height: 40%;
}
#prob_form > div > textarea {
    font-size: 2rem;
    height: 80%;
    resize: none;
}
#prob_form > button {
    font-size: 3rem;
    border-radius: 2rem 2rem 2rem 2rem;
}

@media screen and (max-width: 1430px) {
    #wrapper {
        width: 70rem;
    }
}
@media screen and (max-width: 730px) {
    #wrapper {
        width: 30rem;
    }
}
