#td_btns {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: flex-end;
    padding: 0 2rem;
}
#td_btns > button {
    font-size: 2rem;
    font-family: "Black Han Sans", sans-serif;

}
#list_area {
    width: 100%;
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.todo_box {
    width: 30rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 0.1rem solid gray;
    border-radius: 2rem;
    margin: 0.5rem;
}
.todo_title {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}
.todo_title > h1 {
    font-size: 4rem;
    font-family: "Black Han Sans", sans-serif;
}
.todo_title > img {
    width: 20%;
}
.todo_text {
    width: 100%;
    height: 68%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
}
.todo_text > p {
    font-size: 2rem;
}
.mng_btns {
    width: 100%;
    height: 17%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 2rem;
}
.mng_btns > button {
    font-size: 2rem;
    margin-left: 1rem;
}
